@model FileDetailModel

@{
    Layout = "_Layout";
}

<div class="shadow centered">
    <div class="shadow title-div">
        <text style="color: #ffffff">@Model.FileDetail.FileName</text>
    </div>
    <div style="padding: 10px">
        @Model.FileDetail.BytesCount
    </div>
    <div style="padding: 10px">
        @Model.FileDetail.UploadDateTime
    </div>
    <div style="text-align:center">
    
        @if (Model.FileDetail.AllowAnonymus == false)
        {
            <div>
                
            </div>
        }
        else
        {
            
        }
        
        <div style="display: inline-block; padding: 10px">
            <a class="btn btn-primary" 
               asp-controller="File" 
               asp-action="DownloadFile" 
               asp-route-fileId="@Model.FileDetail.Id">Download</a>
            <a class="btn btn-primary" 
               asp-controller="File" 
               asp-action="Delete" 
               asp-route-fileId="@Model.FileDetail.Id" 
               asp-route-backPage="@Model.BackPage">Delete</a>
            <a class="btn btn-secondary" 
               asp-controller="File" 
               asp-action="List" 
               asp-route-page="@Model.BackPage" >Go back</a>
            </div>
    </div>
</div>